<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991368303449-02ieepaht6mpk4qk9uk133ktr9iq3al1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991368303449-02ieepaht6mpk4qk9uk133ktr9iq3al1</string>
	<key>API_KEY</key>
	<string>AIzaSyCMfqFjf2CUKoEETRwlqqsZPJP4obzsSII</string>
	<key>GCM_SENDER_ID</key>
	<string>991368303449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.likelion.MSG</string>
	<key>PROJECT_ID</key>
	<string>money-save-game</string>
	<key>STORAGE_BUCKET</key>
	<string>money-save-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991368303449:ios:a5400030d68fe693b1b248</string>
</dict>
</plist>