<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916797790118-q5n8mtcki62hfi8jm6jk1ejp1enubdjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916797790118-q5n8mtcki62hfi8jm6jk1ejp1enubdjq</string>
	<key>API_KEY</key>
	<string>AIzaSyB-lZP_wTkpG2KBeFCYA-6aG8of2wbxz9A</string>
	<key>GCM_SENDER_ID</key>
	<string>916797790118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>likelion.msg</string>
	<key>PROJECT_ID</key>
	<string>moneysavegame</string>
	<key>STORAGE_BUCKET</key>
	<string>moneysavegame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916797790118:ios:1f6ef5937cbeda10b32167</string>
	<key>DATABASE_URL</key>
	<string>https://moneysavegame-default-rtdb.firebaseio.com</string>
</dict>
</plist>