<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao${KAKAO_NATIVE_APP_KEY}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.916797790118-6q57dqp9tj5lmt2dv2onan2573dps1c4</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>916797790118-6q57dqp9tj5lmt2dv2onan2573dps1c4.apps.googleusercontent.com</string>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>${KAKAO_NATIVE_APP_KEY}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string></string>
		<string>Maplestory OTF Bold.otf</string>
		<string>Maplestory OTF Light.otf</string>
	</array>
</dict>
</plist>
